.container_01{
    margin-bottom: 100px;
}
.padding {
    padding: 3rem !important;

}

.domain-form .form-group {
    border: 1px solid #9ff0c8;
    padding: 20px;
}


.domain-form .form-group input {
    height: 40px !important;
    border: transparent;
}

.title {
    background-image: linear-gradient(#28ABDA, #5EDFF8);
}

.title h1 {
    font-weight: 800;
    color: white;
    text-shadow: 0px 2.53109px 25.3109px rgba(0, 63, 145, 0.42);
}

.form-control {
    height: 42px !important;
    background: #fff !important;
    color: #3a4348 !important;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.px-4 {
    padding-left: 1.5rem !important;
}

.domain-form .form-group .search-domain {
    background: #22d47b;
    border: 2px solid #22d47b;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.domain-price span {
    color: #3a4348;
    margin: 0 10px;
}

.domain-price span small {
    color: #24bdc9;
}

.table {
    text-align: center;
    margin-bottom: 80px;
}

.table th {
    background-color: #428042;
    color: white;
}

.table a {
    /* border: 1px solid black; */
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 7px;
}


.table-hover tbody tr:hover,
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #ff0000 !important;
    color: rgb(41, 114, 233) !important;
}

.left-side {
    border-right: 1px solid white;
}

.left-side img {
    /* width: 100px; */
    height: 360px;
}

.right-side {
    padding: 35px;
}

.profile {
    height: 70vh;
    background-image: linear-gradient(#428042, #3BB73B);
}

#class1{
    margin-left: 30px;
    margin-bottom: 10px;
}

.left-side {
    border-right: 1px solid white;
}

.left-side img {
    /* width: 100px; */
    height: 360px;
}

.right-side {
    padding: 35px;
}

.profile {
    height: 70vh;
    background-image: linear-gradient(#428042, #3BB73B);
}

.title {
    background-image: linear-gradient(#28ABDA, #5EDFF8);
}

.dropbtn {
    background-image: linear-gradient(#428042, #3BB73B);
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(#28ABDA, #5EDFF8);
    min-width: 140px;

    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}